#feedback-modal {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	overflow-y: auto;
	min-height: 0;
	.limiter {
		max-width: 1300px;
		overflow: hidden;
		flex: 1 1 auto;
		height: auto;
		min-height: 0;
	}
}

.feedback-content-wrapper {
	display: flex;
	justify-content: stretch;
	@media (max-width: 760px) {
		flex-direction: column;
		align-items: center;
	}
	.half {
		flex: 1;
		margin: 0 10px;
		@media (min-width: 761px) {
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		@media (max-width: 760px) {
			max-width: 435px;
			width: 100%;
			&:first-child {
				margin-bottom: 30px;
			}
		}
	}
	form.feedback-form {
		max-width: 435px;
		width: 100%;
		margin-left: auto;
		.notice {
			text-align: right;
			color: #0C0C0C80;
			font-size: 14px;
			padding-right: 1rem;
			.icon {
				font-size: 12px;
				margin: 5px;
			}
		}
		.submit-btn {
			min-width: 49%;
		}
	}
	.title {
		font-size: 56px;
		color: var(--text-blue);
		letter-spacing: 1.2px;
		font-weight: 900;
		line-height: 1.4;
		margin-top: 1.25rem;
		margin-bottom: 2rem;
		@media (max-width: 950px) {
			font-size: 34px;
		}
	}
	.description {
		font-size: 24px;
		color: var(--text-blue);
		letter-spacing: 0.29px;
		line-height: 1.4;
		@media (max-width: 950px) {
			font-size: 20px;
		}
	}
}
