-
	var menuLinks = [
		{
			name: "Наша команда",
			url: "#our-team",
			list: [],
		},
		{
			name: "Получить бриф",
			url: "../form.html",
			list: [],
		},
		{
			name: "Услуги",
			url: "#services",
			list: [
				{
					name: "Web разработка",
					url: "#"
				},
				{
					name: "Мобильные приложения",
					url: "#"
				},
				{
					name: "Графический дизайн",
					url: "#"
				},
				{
					name: "SEO",
					url: "#"
				},
				{
					name: "Чат-боты",
					url: "#"
				},
			],
		},
		{
			name: "Контакты",
			url: "#contacts",
			list: [
				{
					name: "+7 903 463-48-67",
					url: "callto:+79034634867"
				},
				{
					name: "+1 267 800-00-89",
					url: "callto:+12678000089"
				},
				{
					name: "sales@softezza.ru",
					url: "mailto:sales@softezza.ru"
				},
			],
		},
	]

.menu-content-wrapper
	.menu-items
		each category in menuLinks
			.category
				a.category-name(href=category.url)!= category.name

				ul.list
					each listItem in category.list
						li
							a(href=listItem.url)!= listItem.name

	.appeal
		.title Есть идея или планируете партнерство?
		a.sliding-btn(data-alt-text="Обсудить проект" href="../form.html") Заполнить бриф
