#menu-modal {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	overflow-y: auto;
	min-height: 0;
	.limiter {
		max-width: 1430px;
		overflow: hidden;
		flex: 1 1 auto;
		align-self: stretch;
		min-height: 0;
		@media (max-height: 700px) {
			height: auto;
		}
		@media (max-width: 600px) {
			height: auto;
			max-width: 435px;
		}
	}
}

.menu-content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 1;
	max-height: 800px;
	height: 100%;
	@media (max-width: 600px) {
		max-height: none;
		padding-top: 28px;
	}
	.menu-items {
		display: flex;
		justify-content: space-around;
		width: 100%;
		@media (max-width: 1100px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
		}
		@media (max-width: 600px) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}
	}
	.category {
		color: var(--text-blue);
		margin: 0 20px;
		@media (max-width: 600px) {
			margin: 0;
			text-align: center;
		}
		&-name {
			letter-spacing: 0.5px;
			font-size: 32px;
			line-height: 1.32;
			font-weight: bold;
			text-decoration: none;
			margin: 1.25rem 0;
			display: inline-block;
			@media (max-width: 600px) {
				font-size: 21px;
				margin: 16px 0;
			}
		}
		.list {
			font-size: 21px;
			letter-spacing: 0.25px;
			line-height: 1.4;
			padding: 0;
			margin: 0;
			list-style: none;
			@media (max-width: 600px) {
				font-size: 18px;
			}
			a {
				display: inline-block;
				text-decoration: none;
				padding: 6px 0;
				margin: 6px 0;
				transition: color .1s;
				@media (max-width: 600px) {
					margin: 4.5px;
					padding: 4.5px;
				}
				@media (hover: hover) and (pointer: fine) {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.appeal {
		text-align: center;
		.title {
			font-size: 32px;
			letter-spacing: 0.5px;
			color: var(--text-blue);
			margin: 48px 20px;
			font-weight: bold;
			text-align: center;
			@media (max-width: 600px) {
				margin: 23px *;
				font-size: 21px;
			}
		}
		.sliding-btn {
			@media (max-width: 600px) {
				font-size: 18px;
				padding: 20px 32px;
			}
		}
	}
}
