article.modal

	#menu-modal.content-wrapper
		.limiter
			include /components/modals/contents/menu.pug
	#feedback-modal.content-wrapper.hidden
		.limiter
			include /components/modals/contents/feedback.pug
