section.main-hero
	.limit
		.half.image-side
			img.illustration(src="../assets/images/illustration.svg")
		.half.text-side
			.text-wrapper
				.title We do IT
				.caption Веб-разработка полного цикла. Полное погружение в вашу задачу для достижения результата, превосходящего ожидания

			a.sliding-btn(data-alt-text="Обсудить проект" data-open-modal="feedback-modal") Заполнить бриф
