section.main-hero
	.limit
		.half.image-side
			picture
				source(type="image/webp" srcset="../assets/images/illustration_1.webp 1x, ../assets/images/illustration_2x.webp 2x, ../assets/images/illustration_3x.webp 3x")
				img.illustration(
					srcset="../assets/images/illustration.png 1x, ../assets/images/illustration@2x.png 2x, ../assets/images/illustration@3x.png 3x"
					src="../assets/images/illustration.svg"
				)
		.half.text-side
			.text-wrapper
				.title We do IT
				.caption Веб-разработка полного цикла

			a.sliding-btn(data-alt-text="Обсудить проект" data-open-modal="feedback-modal") Заполнить бриф
