meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no')
meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
meta(name='MobileOptimized' content='430')
meta(name='HandheldFriendly' content='true')
meta(name='description' content='Разработка интернет-магазинов, веб-сервисов, CRM, мобильных приложений и других IT проектов. Обратитесь к нам и получите уникальный опыт сотрудничества.')
meta(name='keywords' content='')
// Schema.org markup (Google)
script(type='application/ld+json').
	{
	"@context": "http://schema.org",
	"@type": "Organization",
	"address": {
	"@type": "PostalAddress",
	"addressLocality": "Ростов-на-Дону",
	"addressRegion": "Ростовская область",
	"addressCountry": "Россия",
	"postalCode": "344019",
	"streetAddress": "14-я линия, 50, офис. 509"
	},
	"brand": "Softezza",
	"name": "SOFTEZZA - Веб-студия",
	"description": "Веб-разработка полного цикла. Полное погружение в вашу задачу для достижения результата, превосходящего ожидания",
	"url": "https://softezza.ru/",
	"email": "sales@softezza.ru",
	"sameAs": [
	"https://vk.com/link",
	"https://www.facebook.com/link",
	"https://www.youtube.com/user/link",
	"https://instagram.com/link"
	],
	"logo": "../assets/images/logo.svg",
	"image": "../assets/images/soc-logo.jpg",
	"telephone": "+7 903 463 48 67"
	}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#7364a8">
<meta name="apple-mobile-web-app-title" content="Softezza">
<meta name="application-name" content="Softezza">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#475897">
title SOFTEZZA - Веб-студия
link(rel="stylesheet", href="css/main.css")
