doctype html
html(lang="en")
	head
		include /components/head/head.pug
	body
		div(style="display: none")
			include /assets/symbol/svg/sprite.symbol.svg

		include /components/header/header.pug

		include /components/hero/hero.pug

		include /components/possibilities/possibilities.pug

		include /components/techs/techs.pug

		include /components/team/team.pug

		include /components/cases/cases.pug

		include /components/workflow/workflow.pug

		include /components/appeal/appeal.pug

		include /components/footer/footer.pug
		include /components/modals/wrapper.pug
	script(src="js/main.js")
