-
	var links = [
		{
			name: "Наша команда",
			url: "#our-team"
		},
		{
			name: "Получить бриф",
			url: "../form.html"
		},
		{
			name: "Услуги",
			url: "#services"
		},
		{
			name: "Контакты",
			url: "#contacts"
		},
	]

.header-offset
header.main-header
	.limit
		.logo
			a.img(href="../#")
				img(src="../assets/images/logo.svg")
		.inline.middle
			nav.links
				each link in links
					a.link(href=link.url)!= link.name

		.menu-btn
			.action.hamburger(data-open-modal="menu-modal")
			.action.cross(onclick="closeModals()")
			.overflow
				.lines
					.line
					.line
					.line


