body {
	--header-offset: 80px;
	@media (max-width: 578px) {
		--header-offset: 68px;
	}
}

.header-offset {
	height: var(--header-offset);
}

header.main-header {
	display: flex;
	align-items: center;
	padding-right: inherit;
	padding-top: 23px;
	position: fixed;
	height: var(--header-offset);
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 20;
	background-color: white;
	&.unsticked {
		box-shadow: 2px 4px 16px 0 rgba(64, 64, 64, 0.16);
	}
	.limit {
		--max-width: 1775px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		--offset: 4.5833vw;
		@media (min-width: 1920px) {
			--offset: 88px;
		}
		@media (max-width: 768px) {
			--offset: 30px;
		}
		@media (max-width: 578px) {
			--offset: 24px;
		}
	}
	.logo {
		flex-basis: 380px;
		max-width: 380px;
		margin-right: 20px;
		@media (max-width: 950px) {
			flex-basis: 47vw;
			max-width: 280px;
		}
		@media (max-width: 578px) {
			flex-basis: 47vw;
			max-width: 178px;
		}

		.img {
			display: flex;
			align-items: center;
			width: 100%;
			max-height: 28px;
			img {
				height: 100%;
				width: 100%;
			}
		}
	}
	.inline {
		justify-content: flex-end;
		width: auto;
		flex-grow: 1;
	}
	.links {
		display: flex;
		justify-content: flex-end;
		flex-basis: 723px;
		justify-content: space-around;
		margin: 0;
		opacity: 1;
		transition: opacity .2s;
		@media (min-width: 1200px) {
			margin: * 50px;
		}
		@media (max-width: 950px) {
			display: none;
		}
		.link {
			font-size: 19px;
			color: var(--text-blue);
			text-decoration: none;
			line-height: 1.4;
			letter-spacing: 0.2px;
			font-weight: 600;
			display: inline-block;
			margin: 0 20px;
			white-space: nowrap;
			text-shadow: 0px 1px 1px #40404015;
		}
	}
	.menu-btn {
		flex-shrink: 0;
		width: 60px;
		height: 100%;
		margin-right: -15px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		.action {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			cursor: pointer;
			display: none;
			z-index: 1;
			&.hamburger {
				display: block;
			}
		}
		.overflow {
			position: relative;
			overflow: hidden;
			height: 21px;
			width: 31px;
		}
		.lines {
			width: 150%;
			position: absolute;
			right: 0;
			left: 50%;
			top: 0;
			bottom: 0;
			margin: auto;
			transform: translateX(-50%);
		}
		.line {
			height: 3.5px;
			width: 100%;
			color: var(--text-blue);
			background-color: currentColor;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			transform-origin: center center;
			transition: transform .2s, opacity .2s;
			transition-timing-function: ease-in-out;
			&:nth-child(1) {
				transform: translateY(-8px);
			}
			&:nth-child(3) {
				transform: translateY(8px);
				right: -75%;
			}
		}
	}
}

.show-modal .main-header {
	box-shadow: none !important;
	.menu-btn {
		.action {
			&.hamburger {
				display: none;
			}
			&.cross {
				display: block;
			}
		}
		.line {
			&:nth-child(1) {
				transform: translateY(0) rotate(-30deg);
			}
			&:nth-child(2) {
				transform: translateY(0) rotate(30deg);
			}
			&:nth-child(3) {
				opacity: 0;
			}
		}
	}
	.links {
		opacity: 0;
		pointer-events: none;
		user-select: none;
	}
}
