-
	var possibilities = [
		{
			name: "Web разработка",
			list: ["Высоконагруженные API", "SaaS-сервисы", "CRM", "Стриминговые сервисы"],
		},
		{
			name: "Мобильные приложения",
			list: ["Платформы: iOS, Android", "Личные кабинеты клиентов", "CRM-клиенты", "Мультимедийные приложения"],
		},
		{
			name: "Графический дизайн",
			list: ["Интерфейсы мобильных приложений", "Адаптивная графика", "Фирменный стиль", "Разработка бренд-буков"],
		},
		{
			name: "SEO",
			list: ["Оптимизация страниц", "Настройка рекламных кампаний", "Аудит сайтов", "Работа с Яндекс.Метрикой и Google Analytics"],
		},
		{
			name: "Чат-боты",
			list: ["Интеграция с CRM", "Мониторинг доступности сервисов", "Информирование о заказах", "Поддержка пользователей"],
		},
	]

article.possibilities
	.limit
		#services.section-title Наши возможности

		.list-wrapper
			each category in possibilities
				a.category(href="#")
					.category-name!= category.name

					ul.list
						each listItem in category.list
							li!= listItem

					.know-more
						| Узнать больше
						.arrow
							svg
								use(href="#arrow")
