section.possibilities {
	.list-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		column-gap: 20px;
		row-gap: 10.917vw; /* 150/1374*100 */
		@media (min-width: 1374px) {
			row-gap: 150px;
		}
		@media (max-width: 950px) {
			grid-template-columns: 1fr 1fr;
			column-gap: 30px;
		}
		@media (max-width: 650px) {
			row-gap: 4.2667vw; /* 16px/375px*100 */
			grid-template-columns: auto;
			justify-content: center;
			align-content: center;
		}
	}
	.category {
		max-width: 430px;
		&-name {
			font-size: 32px;
			font-weight: bold;
			letter-spacing: 0.5px;
			color: var(--text-blue);
			@media (max-width: 950px) {
				font-size: 21px;
			}
		}
		.list {
			margin: 24px *;
			padding: 0;
			padding-left: 16px;
			li {
				font-size: 18px;
				color: var(--text-blue);
				line-height: 1.4;
				list-style: none;
				margin: 12px 0;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: -16px;
					bottom: 0;
					margin: auto;
					display: block;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #7364a8;
				}
			}
		}
	}
}
