span,
a,
p,
b,
i {
	color: inherit;
	font-family: inherit;
}

.limit {
	--offset: 4.3668vw;
	--max-width: 1374px;
	max-width: calc(var(--max-width) + var(--offset)*2);
	padding: 0 var(--offset);
	margin: auto;
	width: 100%;
	position: relative;
	@media (min-width: 1420px) {
		--offset: 60px;
	}
	@media (max-width: 1050px) {
		--offset: 40px;
	}
	@media (max-width: 578px) {
		--offset: 15px;
	}
	&.wide {
		max-width: calc(1660px + var(--offset)*2);
	}
}

.section-title {
	font-weight: 900;
	color: var(--text-blue);
	margin: 120px * 104px;
	font-size: 56px;
	letter-spacing: 1.2px;
	@media (max-width: 950px) {
		margin: 88px * 56px;
		font-size: 32px;
	}
}

* {
	font-family: var(--font-main);
	line-height: 1.2;
	box-sizing: border-box;
	transition: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-margin-top: calc(var(--header-offset) + .3em);
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
}

svg {
	width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.objfit {
	object-fit: cover;
	&.contain {
		object-fit: contain;
	}
}

.inline {
	display: flex;
	width: 100%;
	align-items: flex-start;
	&.down {
		align-items: flex-end;
	}
	&.center {
		align-items: center;
	}
	&.stretch {
		align-items: stretch;
	}
	.left {
		flex-grow: 1;
	}
	.middle {
		flex-grow: 999;
	}
}
